body {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 1080px;
}
label{
    white-space:nowrap;
}

.down{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.leftCol{
    min-width: 100%
}

.yes{
    color: darkgreen;
    background-color: lightgreen;
    border: 2px darkgreen solid;
    text-align: center;
}
.maybe{
    color: darkgoldenrod;
    background-color: yellow;
    border: 2px darkgoldenrod solid;
    text-align: center;
}

.no{
    color: darkred;
    background-color: lightcoral;
    border: 2px darkred solid;
    text-align: center;
}
.toppingsBox {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tableView{
    min-width :fit-content !important;
    margin-left: 10px;
}
#tableTableView > tbody > tr > td
#tableTableView > thead > tr > th {
    border: 2px black solid;
    text-align: center;
}
#tableTableView > thead > tr > th {
    border: 2px black solid;
}
.nameBox {
    max-width: 20%;
    margin-right: 2%;
}
.hidden{
    display:none;
}